$colors: (
	// Normal Colors

	white: #ffffff,

	black: #000000,

	gray: #4f4f4f,

	blue-00: #cbe4f9,
	blue-01: #003979,

	yellow: #f9d289,
	red: #f09696,
	green: #beec9f,

	red-00: #ffabab,
	red-01: #cb3434,
	red-02: #d30000,
	red-03: #a40000,
	red-04: #920000,

	// Pokemon Colors

	bug: #A8B820,
	dark: #75574C,
	dragon: #7037FF,
	electric: #F9CF30,
	fairy: #fdb9e9,
	fighting: #C12239,
	fire: #F57D31,
	flying: #A891EC,
	ghost: #70559B,
	grass: #74CB48,
	ground: #DEC16B,
	ice: #9AD6DF,
	normal: #A8A878,
	poison: #A43E9E,
	psychic: #F85888,
	rock: #B69E31,
	steel: #B8B8D0,
	water: #6890F0,
);
